{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'CSS/nuestros_locales.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Primer Local -->
        <div class="col-lg-6 columna1">
          <div class="card-body ">
            <h5 class="card-title text-center mt-3">Cresly Centro Historico</h5>
          </div>
            <div class="card mt-2">
                <div id="carouselCentro" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'IMG/Centro/centro1.jpg' %}" class="d-block w-100 h-200" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'IMG/Centro/centro2.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'IMG/Centro/centro3.png' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCentro" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCentro" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-geo-alt-fill me-2 icono"></i>
                        <a href="https://www.google.com/maps?q=Av.+Remigio+Crespo+y+Alfonso+Borrero" target="_blank">Hermano Miguel y Gran Colombia</a>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-telephone-fill me-2 icono"></i>Teléfono:
                        <a href="https://wa.me/593990773270" target="_blank"> +593  99 871 3359</a>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-clock-fill me-2 icono"></i>
                        <span>Horario: Lunes a Domingo 11:00 - 00:00</span>
                      </div>
                    </li>
                </ul>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15938.794893862563!2d-79.02432065554768!3d-2.9028554019464416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1816cf2d6b3b%3A0x692f91e8f552bca4!2sCresly%20Pizzeria%20Centro!5e0!3m2!1ses!2sec!4v1727157140576!5m2!1ses!2sec" width="100%" height="250" style="border:2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Segundo Local -->
        <div class="col-lg-6 columna2">
            <div class="card-body ">
              <h5 class="card-title text-center mt-3">Cresly Remigio Crespo</h5>
            </div>
            <div class="card mt-2 mb-5">
                <div id="carouselRemigio" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'IMG/Remigio/remigio1.jpg' %}" class="d-block w-100" alt="Imagen 1">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'IMG/Remigio/remigio2.png' %}" class="d-block w-100" alt="Imagen 2">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'IMG/Remigio/remigio3.png' %}" class="d-block w-100" alt="Imagen 2">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'IMG/Remigio/remigio4.png' %}" class="d-block w-100" alt="Imagen 2">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'IMG/Remigio/remigio5.png' %}" class="d-block w-100" alt="Imagen 3">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRemigio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselRemigio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-geo-alt-fill me-2 icono"></i>
                        <a href="https://www.google.com/maps?q=Av.+Remigio+Crespo+y+Alfonso+Borrero" target="_blank">Av. Remigio Crespo y Alfonso Borrero</a>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-telephone-fill me-2 icono"></i>Teléfono: 
                        <a href="https://wa.me/593990773270" target="_blank">+593 99 077 3270</a>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-clock-fill me-2 icono"></i>
                        <span>Horario: Lunes a Domingo 11:00 - 00:00</span>
                      </div>
                    </li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6986288216913!2d-79.0165958251992!3d-2.9028822395296228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd196658b37b29%3A0xf640542eca8062a2!2sCresly%20Pizzer%C3%ADa%20Remigio!5e0!3m2!1ses!2sec!4v1727156990104!5m2!1ses!2sec" 
                width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}
