<footer class="footer text-center py-3">
    <div class="info">
        <!-- Aquí puedes agregar más información si es necesario -->
    </div>
    <div class="iconos_footer">
        <a href="https://www.facebook.com/creslypizzeria" target="_blank" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://wa.me/593990773270" target="_blank" aria-label="WhatsApp">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/creslypizzeria?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@cresly_pizzeria?is_from_webapp=1&sender_device=pc" target="_blank" aria-label="TikTok">
            <i class="bi bi-tiktok"></i>
        </a>
    </div>
    <p>&copy; 2024 Pizzería Cresly. Todos los derechos reservados.</p>
</footer>
