@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&display=swap');
:root{
    --color-primario: #AC1F33;
    --color-primario-hover: #5f0c19;
    --color-secundario: #009640;
    --fuente-principal: 'Reem Kufi Fun', sans-serif;
  }



  .card {
    transition: transform 0.3s ease; 
    max-height: 300px; 
    overflow: hidden; 
    margin-bottom: 1rem; 
    
  }

  .card:hover {
      transform: scale(1.05); 
  cursor: pointer; 
    cursor: pointer;
  }


  .card-title  {
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .card-descripcion {
    font-family: var(--fuente-principal);

    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .card-precio{
    font-family: var(--fuente-principal);
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: var(--color-secundario)
  }

  .card-body {
    padding: 1rem; 
  }
  
  .card-img-top {
    height: 150px; 
    object-fit: cover; 
  }
  .modal-content {
    border-radius: 10px; /* Redondea las esquinas del modal */
  }
  
  .product-card img {
    object-fit: cover;
    height: 200px; /* Ajusta la altura de la imagen dentro de la tarjeta */
  }
  
  .img-fluid {
    max-height: 300px; /* Controla la altura máxima de la imagen dentro del modal */
    margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
  }
  
.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 15px; 
}

.col-2 {
  position: sticky;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 200px; 
  height: 100%; 
  overflow-y: auto; 
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); 

  

}


.col-10 {
  padding-left: 20px; 
}
